# Cluster adds
*.stdout
*.stderr

# Data
results/
data*/
TEST/
*.png
cluster_models/
test_results/

# Jupiter Notebook
#*.ipynb
.ipynb_checkpoints


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

